{% extends 'base.html' %} {% block content %}
<form method="post">
    <div class="mb-3 row g-2">
        <div class="col-sm-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" name="username" id="username" required>
        </div>
        <div class="col-sm-3">
            <label for="score" class="form-label">Score</label>
            <input class="form-control" type="number" min="0" name="score" id="score" value="0">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}