{% extends 'base.html' %} {% block content %}

{% if "player" in challenge %}
  <p> The following players have already submitted their guesses:</p>

  <div class="list-group w-50">
  {% for player, item in challenge.player.items() %}
        <div class="list-group-item justify-content-between">
          <h5 class="mb-1">{{ player }}</h5>
          <small>Guess: {{ item.guess }}</small><br>
          {% if challenge.status == "finished" %}
          <small>Distance: {{ item.distance }}</small><br>
          <small>Score: {{ item.score }}</small>
          {% endif %}
        </div>
  {% endfor %}
  </div>

  {% if challenge.status == "open" %}
  <p class="mt-5">Today's challenge was not scored yet!</p>

  <form method="post" class="mt-3">
      <button class="btn btn-primary" type="submit">Submit guesses</button>
  </form>
  {% endif %}


  </div>
{% else %}

<p> There are no players yet for today's challenge. </p>

{% endif %}
{% endblock %}